.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: #2c2c2c;
  padding: 2rem;
  border-radius: 5px;
}

.loginButton {
  padding: 0.5rem 0rem;
  background-color: #aa76ff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 15rem;
}
